
<header class="header">
    <div class="logo-container">
        <a href="adminit/home" class="logo">
            <img src="~/Content/images/!sample-user.jpg" height="35" alt="Admin" />
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        <form action="" class="search nav-form">
            <div class="input-group input-search">
                <input type="text" class="form-control" name="q" id="q" placeholder="Tìm kiếm...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>

        <span class="separator"></span>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="" data-toggle="dropdown">
                <i class="fa custom-caret"></i>
            </a>
        </div>
    </div>
</header>
